{% load static %}

<li>
    <article class="post">
        <a href="{% url "post-detail" "the-tech" %}">
            <img src="{% static "blog/images/music_software.png" %}" alt="Music Technology">
            <div class="post_content">
                <h3>Music Technology</h3>
                <p>I like working on music with my DAW. I have a studio where I record different intruments and
                    sounds for my songs.
                </p>
            </div>
        </a>
    </article>
</li>

